@using EntityLayer.Concrete
@model List<Blog>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Recent Blogs</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Title </th>
                                <th> Category </th>
                                <th> Date </th>
                                <th> Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {                            
                            <tr>
                                <td>
                                    <img src="@item.BlogImage" class="mr-2" alt="image">
                                </td>
                                <td> @item.BlogTitle </td>
                                <td>
                                    <label class="badge badge-gradient-success">@item.Category.CategoryName</label>
                                </td>
                                <td>
                                    @(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))
                                </td>
                                <td> <a href="/Blog/BlogReadAll/@item.BlogID" target="_blank" class="btn btn-info">Details</a> </td>                               
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
